   <ion-pane>
      <ion-header-bar class="bar-stable" ng-init="clearHistory()">
        <h1 class="title">Event Code</h1>
      </ion-header-bar>
      <ion-content class="padding">

        <br/>
        <br/>
        <br/>

          <label class="item item-input">
            <input type="text" placeholder="Enter Event Code" ng-model="code">
          </label>
        <br/>
        <button class="button button-block button-positive" ng-click="sendCode(code)">
          Join
        </button>

      </ion-content>
    </ion-pane>
