<ion-view view-title="Photo">
  <ion-content class="padding">
    <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)" active-slide="activeSlide">

      <ion-slide ng-repeat="image in images">
        <div class="list card">
          <div class="item item-body">
            <img class="full-image" ng-src="{{image.url}}" width="100%" spinkit-image-preloader='double-bounce-spinner' />
            <p>
              {{image.description}}
            </p>
            <p>
              <a class="subdued">{{image.likeCount}} Likes</a>
              <a class="subdued">{{image.dislikeCount}} Dislikes</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a ng-hide=" role=='default' " class="tab-item" href="">
              <div ng-click="state.isApproved? disapprove():approve()">
                <i ng-show="state.isApproved" class="icon ion-checkmark" ng-class="{themeColor: state.isApproved==true}"></i>
                <span ng-class="{themeColor: state.isApproved==true}">Approve<span ng-show="state.isApproved">d</span> </span>
              </div>
            </a>
            <a class="tab-item" href="" ng-click="state.isLiked? deleteLike() : like()">
              <i class="icon ion-thumbsup" ng-class="{themeColor: state.isLiked==true}"></i>
              <span ng-class="{themeColor: state.isLiked==true}">Like<span ng-show="state.isLiked">d</span> </span>
            </a>
            <a class="tab-item" href="" ng-click="state.isDisliked? deleteDislike() : dislike()">
              <i class="icon ion-thumbsdown" ng-class="{themeColor: state.isDisliked==true}"></i>
              <span ng-class="{themeColor: state.isDisliked==true}">Dislike<span ng-show="state.isDisliked">d</span></span>
            </a>
          </div>
        </div>

    </ion-slide-box>
  </ion-content>
</ion-view>