   <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Login</h1>
      </ion-header-bar>
      <ion-content class="padding">

        <br/>

        <a class="btn btn-block btn-social btn-google" ng-click="googleLogin()">
          <i class="fa fa-google-plus"></i> Login with Google
        </a>
        <br/>

        <button class="btn btn-block btn-social btn-facebook" ng-click="facebookLogin()">
          <i class="fa fa-facebook"></i> Login with Facebook
        </button>
      <hr/>
      <a >Need an account?</a> <button ui-sref="signup"> Sign up</button>
      </ion-content>
    </ion-pane>
