<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Signup</h1>
  </ion-header-bar>
  <ion-content class="padding">

    <div class="text-center">
      <h2>{{event.name}}</h2>
    </div>
    <br/>

    <a class="btn btn-block btn-social btn-google" ng-click="googleSignup()">
      <i class="fa fa-google-plus"></i> Sign up with Google
    </a>
    <br/>

    <button class="btn btn-block btn-social btn-facebook" ng-click="facebookSignup()">
      <i class="fa fa-facebook"></i>Sign up with Facebook
    </button>
    <hr/>
    <!--<a >Already have account?</a> <button ui-sref="login"> Log in</button>-->
  </ion-content>
</ion-pane>