<ion-view view-title="Home" ng-init="init()">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-50">
        <img ng-show="event.logo" ng-src="{{event.logo}}" class="eventLogo">
        <img ng-hide="event.logo" ng-src="http://cdn0.capterra-static.com/logos/150/vendor-placeholder-logo.png" class="eventLogo">
      </div>
      <div class="col col-50 col-center text-center">
        <h2>{{event.name}}</h2>
        <!--<p class="subdued">Code: {{event.code}}</p>-->
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Description
      </div>
      <div class="item item-text-wrap">
        {{event.description}}
      </div>
      <div class="item item-divider">
        Start Date      
      </div>
      <div class="item item-text-wrap">
        {{event.startDate | date:'medium'}}
      </div>
      <div class="item item-divider">
        End Date      
      </div>
      <div class="item item-text-wrap">
        {{event.endDate | date:'medium'}}
      </div>
    </div>
    <br/>
    <!--<div class="list card">
      <div class="item item-divider">User</div>
      <div class="item item-body">
        <div class="item">
          {{user.name}}
        </div>
        <div class="item">
          {{user.email}}
        </div>
        <div class="item">
          {{user.userType}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Event</div>
      <div class="item item-body">
        <div class="item">
          {{event.name}}
        </div>
        <div class="item">
          {{event.code}}
        </div>
        <div class="item">
          {{event.description}}
        </div>
        <div class="item">
          {{event.startDate | date:'medium'}}
        </div>
        <div class="item">
          {{event.endDate | date:'medium'}}
        </div>
      </div>
    </div>-->

  </ion-content>
</ion-view>