<ion-view view-title="Settings">
  <ion-content class="padding">
    <br/>
        <button class="btn btn-block btn-social btn-facebook" ng-show="loggedInFromFb" ng-click="logout()">
          <i class="fa fa-facebook"></i> Log Out
        </button>
        <button class="btn btn-block btn-social btn-google" ng-show="loggedInFromGoogle" ng-click="logout()">
          <i class="fa fa-google-plus"></i> Log Out
        </button>
    <br/>
        <!--<button class="btn btn-block " ng-click="changeEvent()">
          Change Event
        </button>-->
  </ion-content>
</ion-view>
