<ion-view view-title="Camera">
  <ion-content class="padding">

    <div class="list card" ng-show="lastPhoto">

      <div ng-show="lastPhoto" class="item item-image">
        <img ng-src="{{lastPhoto}}">
      </div>

      <label class="item item-input">
        <input ng-model="image.description" type="text" placeholder="Description">
      </label>

    </div>

  </ion-content>
  <div class="bar bar-footer">
    <div class="button-bar">
      <button ng-click="getPhoto()" class="button icon-right ion-camera">Capture</button>
      <button ng-show="lastPhoto" ng-click="upload()" class="button icon-right ion-upload">Upload</button>
    </div>
  </div>
</ion-view>