<ion-view view-title="Gallery">
  <ion-content class="padding" ng-init="loadImages()">
    <div class="padding text-center" ng-show="state.isOffline">
      <br>
      <h3>No Internet Connection.<h3>
      <!--<br>
      <button class="button icon-left ion-refresh" ng-click="loadImages();state.isOffline==false"> Retry</button>-->
    </div>
    <ion-list>
      <ion-item class="row gallery-row" style="margin-left: 0px;margin-top:1px; padding: 0px;" ng-repeat="image in images"
                ng-if="$index % 3 === 0">
        <div class="col col-33.3 gallery-image-padding" ng-if="$index < images.length" >
          <img ng-class="{borderApproved: images[$index].isApproved==true && state.role!='default'  }"  ng-src="{{images[$index].url}}" ng-click="selectImage($index )" width="100%" spinkit-image-preloader='rotating-plane-spinner' />
        </div>
        <div class="col col-33.3 gallery-image-padding" ng-if="$index + 1 < images.length"  >
          <img ng-class="{borderApproved: images[$index+1].isApproved==true && state.role!='default' }"  ng-src="{{images[$index + 1].url}}" ng-click="selectImage($index + 1)" width="100%" spinkit-image-preloader='rotating-plane-spinner' />
        </div>
        <div class="col col-33.3 gallery-image-padding" ng-if="$index + 2 < images.length">
          <img ng-class="{borderApproved: images[$index+2].isApproved==true && state.role!='default' }"  ng-src="{{images[$index + 2].url}}" ng-click="selectImage($index + 2)" width="100%" spinkit-image-preloader='rotating-plane-spinner' />
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      
      on-infinite="loadMore()"
      distance="2%">
      
      <ion-spinner ng-if="moreDataCanBeLoaded"></ion-spinner>
    
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
