/* These will programmatically chnged according to Event theme */

 .bar , .title  {}
.bar.bar-stable {}
.bar.bar-stable .title{}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{}
.themeColor{}

/*
.spinner-wrapper{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
rotating-plane-spinner{
  display: table-cell;
    vertical-align: middle;
}

.three-dots-row-spinner{
margin-left: auto !important;
    margin-right: auto !important; 
    width:30px !important;
    height:30px !important;
    }*/
    
    
/* Add your own CSS if you like */
.eventLogo{
  width: 100% !important;
  margin: 5%;
}


a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.borderApproved{
  border:2px solid chartreuse;
}

.mythumbnail{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.mythumbnail img.portrait {
  width: 100%;
  height: auto;
}
.spinner-wrapper * {
    margin-top:20px !important;
    margin-bottom:20px !important;
    height:20px !important;
    width:20px !important;
    /*margin: 0 auto !important;*/
    resize: both !important;
    overflow: auto !important;
}
.gallery-image-padding{
  padding: 1px;
}
.spinner {
  margin: 0 auto;
}

.gallery-row {
  border-style: none;
}
/*
.loading{
    background-color: inherit;
    width: 75% !important;
    margin-left: -37.5% !important;
    border-width: 2px !important;
    border-color: black !important;
    border-style: solid !important;
}
  
.loading-backdrop{
    margin-top: 44px;
    background-color: rgb(237, 240, 241);
}*/